[Desktop Entry]
Type=Application
Name=Moonfin
Exec=moonfin %U
Icon=org.moonfin.moonfin
Categories=AudioVideo;Video;
Comment=Jellyfin & Emby media client
Terminal=false
StartupWMClass=org.moonfin.moonfin
MimeType=x-scheme-handler/moonfin;
